<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/loginadmin" >go</a><br>
    <a href="http://127.0.0.1:8000/machines" >machines</a><br>
    <a href="http://127.0.0.1:8000/machines/cars" >cars</a><br>
    <a href="http://127.0.0.1:8000/machines/heavycars" >heavy cars</a><br>
    <a href="http://127.0.0.1:8000/machines/motorcycle" >motorcycle</a><br>
</body>
</html>